.card {
  width: 22rem;
  height: 30rem;
  background-color: #ddfff9;
  overflow: hidden;
}

#desc {
  overflow: hidden;
  position: relative;
  line-height: 1.5em;
  max-height: 4.5em;
}

.source {
  position: absolute;
  bottom: 0px;
  font-size: small;
  font-style: italic;
}

#btn {
  position: absolute;
  bottom: 40px;
  margin-top: 100px;
}

img {
  height: 12rem;
}

h1,
h4,
#timenow,
#link {
  text-align: center;
}

h5 {
  line-height: 1em;
  max-height: 4em;
}

i {
  margin-right: 10px;
}

body {
  background: rgb(246, 248, 249); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(246, 248, 249, 1) 0%,
    rgba(229, 235, 238, 1) 50%,
    rgba(215, 222, 227, 1) 51%,
    rgba(245, 247, 249, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(246, 248, 249, 1) 0%,
    rgba(229, 235, 238, 1) 50%,
    rgba(215, 222, 227, 1) 51%,
    rgba(245, 247, 249, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(246, 248, 249, 1) 0%,
    rgba(229, 235, 238, 1) 50%,
    rgba(215, 222, 227, 1) 51%,
    rgba(245, 247, 249, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}

#link {
  text-align: center;
  margin-bottom: 12px;
  background: rgba(246, 248, 249, 1) 0%;
}

/* #link {
  position: sticky;
  top: 54px;
  z-index: 1000;
} */

#hd {
  color: inherit;
}

#time {
  position: absolute;
  bottom: 0px;
  right: 20px;
  font-size: small;
  font-style: italic;
}

#all {
  margin-left: 4px;
}

@media screen and (max-width: 654px) {
  .card {
    width: 100%;
  }

  h5 {
    padding-bottom: 0px;
  }

  #desc {
    margin-bottom: 20px;
  }

  img {
    height: 15rem;
  }

  #btn {
    margin-top: 20px;
  }

  #link {
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: 1000;
    margin-bottom: 0px;
    margin-top: 10%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #343a40;
    color: grey;
  }
  a {
    color: white;
  }
  a:link {
    color: white;
  }
  a​:visited {
    color: green;
  }
  a:active {
    color: green;
  }
}
